@page "/conferences"
@using RESTFull.Service.dto
@inject IHttpClientFactory _httpClientFactory
<h3>Conferrence</h3>

<ul>
    @foreach (var conference in conferences)
    {
        <li><a href="/conferences/@conference.id">@conference.title</a></li>
    }

    <a href="/conferences/add">Add</a>
</ul>

@code {
    private List<ConferencePublicDto> conferences = new List<ConferencePublicDto>();


    async Task GetAll()
    {

        try
        {
            var client = _httpClientFactory.CreateClient("MyApiClient");
            var response = await client.GetAsync("/");

            if (response.IsSuccessStatusCode)
            {
                var conferencePublicDtos = await response.Content.ReadFromJsonAsync<List<ConferencePublicDto>>();
                Console.Write(conferencePublicDtos.ToString());
                conferences.AddRange(conferencePublicDtos);
            }
            else
            {
                Console.WriteLine($"Error: HTTP Status Code {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

}
