@page "/participants/{id:guid}"
@using RESTFull.Service.dto
@inject HttpClient httpClient
<h3>Participant</h3>


<ul>

    <div class="form-group">
        <label for="Name">Name:</label>
        <p class="form-control">@participant?.name</p>
    </div>
    <div class="form-group">
        <label for="Role">Role:</label>
        <p class="form-control">@participant?.role</p>
    </div>
    <div class="form-group">
        <label for="ContactInfo">ContactInfo:</label>
        <p class="form-control">@participant?.contactInfo</p>
    </div>
    <div class="form-group">
        <label for="Organization">Organization:</label>
        <p class="form-control">@participant?.organization</p>
    </div>

    <h3>Conferences:</h3>
    <div class="form-group">
        @if (participant != null && participant?.conferences != null && participant.conferences.Count > 0)
        {
            @foreach (var conference in participant.conferences)
            {
                <a href="/conferences/@conference.id" class="form-control">&emsp;@conference.title</a>
            }
        }
    </div>


    <h3>Reports:</h3>
    <div class="form-group">
        @if (participant != null && participant?.reports != null && participant.reports.Count > 0)
        {
            @foreach (var report in participant?.reports)
            {
                <a href="/reports/@report.Id" class="form-control">&emsp;@report.title</a>
            }
        }
    </div>


</ul>

<a href="/participants/@id/e">Edit</a>


@code {
    [Parameter]
    public Guid id { get; set; }
    private ParticipantPublicDto participant;


    async Task GetAll()
    {
        var response = await httpClient.GetFromJsonAsync<ParticipantPublicDto>("/participants/"+id);
        Console.Write(response.ToString());
        participant = response;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

}